.jumbotron {
  padding: 10px 0px;
  margin: 25px 5px;
}

.blue {
  background-color: rgb(59, 140, 165);
  color: white;
  padding-top: 0px;
}

.wheat {
  background-color: rgb(215,210,196);
}

img {
  width: 90%;
}

.thumbnail {
  width: 25%;
  margin-right: 10px;
}

.btm-brdr{
  border-bottom: 1px solid white;
}
